<div fxLayout="row" fxFlex="100" *ngIf="!circlesStarted; else started">
  <button fxLayout="center center" mat-button class="start-button" (click)="showCircles()">Get started!</button>
</div>
<ng-template #started>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
    <div *ngFor="let circle of circles" class="circle-parent">
      <button  mat-button class="circle first-entrance" 
        [style.background-color]="showSameColor ? '#0099ff' : circle.color" 
        [style.top]="circle.top" 
        (click)="showCircleId(circle.id)">
        <div  *ngIf="circle.showId" class="with-id">{{circle.id}}</div>
      </button>
    </div>
  </div>
</ng-template>


